
{{#if showError}}
<section class="bgwhite p-t-10 p-b-10">
	<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong></strong> {{errorMsg}}:  Username and Password are incorrect!!!
	</div>
</section>
{{/if}}

{{#section 'menu'}}
	<div class="col-md-3 admin-menu">
		<ul>
			<li><a href="/admin">Dashboard</a></li> <hr>
			<li><a href="/admin/product_management">Product Management</a></li> <hr>
			<li><a href="/admin/product_type_management">Product Type Management</a></li> <hr>
			<li><a href="/admin/producer_management"><b><i>Producer Management</b></i></a></li> <hr>
			<li><a href="/admin/order_management">Order Management</a></li>
		</ul>
	</div>
{{/section}}
{{#section 'content'}}
	<div class="col-md-9 admin-content">
		<h2><b>Producer Management</b></h2>
		<br><br>
		<div class="breadcrumbadmin">
			<ol class="breadcrumb bgbreadcrumb">
			  	<li><a href="/admin">Home</a></li>
			  	<li><a href="/admin/producer_management">Producer Management</a></li>
			  	<li class="active">Add Producer</li>
			</ol>
		</div>
		<br>
		<form class="form-horizontal" method="POST" action="">
			<div class="form-group">
			    <label for="inputProducer" class="col-sm-4 control-label">New Producer</label>
			    <div class="col-sm-5">
			      	<input type="text" class="form-control" id="inputProducer" name="NameProducer" placeholder="Input new producer">
			    </div>
			</div>
			<div class="form-group">
			    <div class="col-sm-offset-2 col-sm-6">
			    	<a class="btn btn-info" href="/admin/producer_management" role="button">Back</a>
			      	<button type="submit" class="btn btn-success">Add</button>
			    </div>
			</div>
		</form>

	</div>
{{/section}}