{{#section 'dashboard'}}
	<div>
		<div class="admin-content">
			<h2>Dashboard</h2>
			<div class="admin-position-items">
				<div class="admin-item" id="product-management">
					<img src="../../images/icons/product-icon.png"> <br>
					<a href="/admin/product_management">Product Management</a>
				</div>
				<div class="admin-item" id="product-type-management">
					<img src="../../images/icons/product-type-icon.png"> <br>
					<a href="/admin/product_type_management">Product Type Management</a>
				</div>
				<div class="admin-item" id="producer-management">
					<img src="../../images/icons/producer-icon.png"> <br>
					<a href="/admin/producer_management">Producer Management</a>
				</div>
				<div class="admin-item" id="order-management">
					<img src="../../images/icons/order-icon.png"> <br>
					<a href="/admin/order_management">Order Management</a>
				</div>
			</div>
		</div>
	</div>
{{/section}}