{{#section 'menu'}}
	<div class="col-md-3 admin-menu">
		<ul>
			<li><a href="/admin">Dashboard</a></li> <hr>
			<li><a href="/admin/product_management">Product Management</a></li> <hr>
			<li><a href="/admin/product_type_management">Product Type Management</a></li> <hr>
			<li><a href="/admin/producer_management">Producer Management</a></li> <hr>
			<li><a href="/admin/order_management"><i><b>Order Management</b></i></a></li>
		</ul>
	</div>
{{/section}}
{{#section 'content'}}
<div class="col-md-9 admin-content">
	<h2><b>Order Management</b></h2>
	<br>
	<div class="breadcrumbadmin">
		<ol class="breadcrumb bgbreadcrumb">
			<li><a href="/admin">Home</a></li>
			<li class="active">Order Management</li>
		</ol>
	</div>
	<table class="table">
		<tr class="table-header">
			<th>ID</th>
			<th>Order Date</th>
			<th>Price</th>
			<th>Status</th>
		</tr>
		{{#each orders}}
		<tr>
			<td>{{OrderID}}</td>
			<td>{{OrderDate}}</td>
			<td>{{Total}}</td>
			<td>
				<select style="border: none;">
					<option selected style="color: #00FF00">Delivered</option>
					<option style="color: yellow">Being Delivered</option>
					<option style="color: red">Cancelled</option>
				</select>
			</td>
		</tr>
		{{/each}}
	</table>
	<br>
</div>
{{/section}}