{{#section 'js'}}
	<script type="text/javascript">
		$('.removeProduct').on('click', function() {
		    var id = $(this).data('proid');
		    $('#txtProId_R').val(id);
		    $('#frmRemoveProduct').submit();
		});
	</script>
{{/section}}

{{#section 'menu'}}
	<div class="col-md-3 admin-menu">
		<ul>
			<li><a href="/admin">Dashboard</a></li> <hr>
			<li><a href="/admin/product_management"><b><i>Product Management</b></i></a></li> <hr>
			<li><a href="/admin/product_type_management">Product Type Management</a></li> <hr>
			<li><a href="/admin/producer_management">Producer Management</a></li> <hr>
			<li><a href="/admin/order_management">Order Management</a></li>
		</ul>
	</div>
{{/section}}	
{{#section 'content'}}	
	<div class="col-md-9 admin-content">
		<h2><b>Product Management</b></h2>
		<br>
		<div class="breadcrumbadmin">
			<ol class="breadcrumb bgbreadcrumb">
			  	<li><a href="/admin">Home</a></li>
			  	<li class="active">Product Management</li>
			</ol>
		</div>
		<form id="frmRemoveProduct" method="POST" action="/admin/removeProduct">
			<input id="txtProId_R" type="text" name="ProId" class="hidden">
		</form>
		<table class="table">
			<tr class="table-header">
				<th></th>
				<th>Product</th>
				<th>Number</th>
				<th>Price</th>
				<th>Action</th>
			</tr>
			{{#each products}}
				<tr id="{{ProID}}">
					<td class="checkbox-product"><input type="checkbox"></td>
					<td><a href="/admin/product_details">{{ProName}}</a></td>
					<td>{{ProAmount}}</td>
					<td>{{ProPrice}}</td>
					<td>
						<a data-proid="{{ProID}}" class="btn btn-xs btn-danger removeProduct" href="javascript:;" role="button">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
						<a class="btn btn-primary btn-xs" href="/admin/edit/product?id={{ProID}}" role="button">
							<span class="glyphicon glyphicon-wrench"></span>
						</a>
					</td>
				</tr>
			{{/each}}
		</table>
		<br>
		{{!-- <a class="btn btn-success" href="/admin/add/product" role="button">New Product</a> --}}
		<button class="btn btn-primary" id="add-product">New Product</button>
		<button class="btn btn-warning" onclick="deleteProducts()">Delete All Selected</button>
	</div>
{{/section}}