{{#section 'menu'}}
	<div class="col-md-3 admin-menu">
		<ul>
			<li><a href="/admin">Dashboard</a></li> <hr>
			<li><a href="/admin/product_management">Product Management</a></li> <hr>
			<li><a href="/admin/product_type_management">Product Type Management</a></li> <hr>
			<li><a href="/admin/producer_management">Producer Management</a></li> <hr>
			<li><a href="/admin/order_management">Order Management</a></li>
		</ul>
	</div>
{{/section}}
{{#section 'content'}}
	<div class="col-md-9 product-details">
		<form action="" method="POST">
		<h1><b><input type="text" class="product-name" value="Trollinger" name="proName"></b></h1>
		<div class="row">
			<div class="col-md-6">
				<div class="col-md-4 product-small-image">
					<img src="../../images/redwine/redwine.jpeg">
					<img src="../../images/redwine/redwine.jpeg">
					<img src="../../images/redwine/redwine.jpeg">
					<hr>
					<label style="float: right;">Product Type:</label>
					<label style="margin-top: 10px; float: right;">Producer:</label> 
				</div>
				<div class="col-md-8 product-large-image">
					<img src="../../images/redwine/redwine.jpeg">
					<hr>
					<input type="text" value="product type">
					<input type="text" value="producer" style="margin-top: 10px;">
				</div>
			</div>
			<div class="col-md-6 product-details-content">
				<br>
				<h3>
					<span><b>Price: &nbsp;</b></span><input type="number" value="109000"><span> &nbsp;đồng</span>
				</h3>
				<hr>
				<label>Number:</label>
					<button>-</button><input type="text" value="1" style="width: 30px; text-align: center;"><button>+</button>
				<hr> 
				<div class="description">
					<h3><b>Description</b></h3>
					<textarea>Red Wine</textarea>
				</div>
				<button class="btn btn-success">Apply</button>
				<button class="btn btn-danger">Delete</button>
			</div>
		</div>
		</form>
	</div>
{{/section}}