{{#section 'js'}}
	<script type="text/javascript">
		$('.removeTypeProduct').on('click', function() {
		    var id = $(this).data('catid');
		    $('#txtCatId_R').val(id);
		    $('#frmRemoveTypeProduct').submit();
		});
	</script>
{{/section}}

{{#section 'menu'}}
	<div class="col-md-3 admin-menu">
		<ul>
			<li><a href="/admin">Dashboard</a></li> <hr>
			<li><a href="/admin/product_management">Product Management</a></li> <hr>
			<li><a href="/admin/product_type_management"><b><i>Product Type Management</b></i></a></li> <hr>
			<li><a href="/admin/producer_management">Producer Management</a></li> <hr>
			<li><a href="/admin/order_management">Order Management</a></li>
		</ul>
	</div>
{{/section}}
{{#section 'content'}}
	<div class="col-md-9 admin-content">
		<h2><b>Product Type Management</b></h2>
		<br>
		<div class="breadcrumbadmin">
			<ol class="breadcrumb bgbreadcrumb">
			  	<li><a href="/admin">Home</a></li>
			  	<li class="active">Product Type Management</li>
			</ol>
		</div>
		<form id="frmRemoveTypeProduct" method="POST" action="/admin/removeCat">
			<input id="txtCatId_R" type="text" name="CatId" class="hidden">
		</form>

		<table class="table">
			<tr class="table-header">
				<th></th>
				<th>Product Type</th>
				<th>Amount of products</th>
				<th>Action</th>
			</tr>
			{{#each productTypes}}
			<tr>
				<td class="checkbox-product-type"><input type="checkbox"></td>
				<td>{{CatName}}</td>
				<td>{{totalAmount}}</td>
				<td>

					<a data-catid="{{CatID}}" class="btn btn-xs btn-danger removeTypeProduct" href="javascript:;" role="button">
						<span class="glyphicon glyphicon-remove"></span>
					</a>
					<a class="btn btn-primary btn-xs" href="/admin/edit/typeproduct?id={{CatID}}" role="button">
						<span class="glyphicon glyphicon-wrench"></span>
					</a>
				</td>
			</tr>
			{{/each}}
		</table>
		<br>
		<a class="btn btn-success" href="/admin/add/typeproduct" role="button">New Producer</a>
		<button class="btn btn-warning" onclick="deleteProductTypes()">Delete All Selected</button>
	</div>
{{/section}}