{{#section 'js'}}
	<script type="text/javascript">
		$('.removeProducer').on('click', function() {
		    var id = $(this).data('producerid');
		    $('#txtProducerId_R').val(id);
		    $('#frmRemoveProducer').submit();
		});
	</script>
{{/section}}

{{#section 'menu'}}
	<div class="col-md-3 admin-menu">
		<ul>
			<li><a href="/admin">Dashboard</a></li> <hr>
			<li><a href="/admin/product_management">Product Management</a></li> <hr>
			<li><a href="/admin/product_type_management">Product Type Management</a></li> <hr>
			<li><a href="/admin/producer_management"><b><i>Producer Management</b></i></a></li> <hr>
			<li><a href="/admin/order_management">Order Management</a></li>
		</ul>
	</div>
{{/section}}
{{#section 'content'}}
	<div class="col-md-9 admin-content">
		<h2><b>Producer Management</b></h2>
		<br>
		<div class="breadcrumbadmin">
			<ol class="breadcrumb bgbreadcrumb">
			  	<li><a href="/admin">Home</a></li>
			  	<li class="active">Producer Management</li>
			</ol>
		</div>
		<form id="frmRemoveProducer" method="POST" action="/admin/removeProducer">
			<input id="txtProducerId_R" type="text" name="ProducerId" class="hidden">
		</form>
		<table class="table">
			<tr class="table-header">
				<th></th>
				<th>Producer Name</th>
				<th>Amount of products</th>
				<th>Action</th>
			</tr>
			{{#each producer}}
			<tr>
				<td class="checkbox-producer"><input type="checkbox"></td>
				<td>{{ProducerName}}</td>
				<td>{{totalAmount}}</td>
				<td>
					<a data-producerid="{{ProducerID}}" class="btn btn-xs btn-danger removeProducer" href="javascript:;" role="button">
						<span class="glyphicon glyphicon-remove"></span>
					</a>
					<a class="btn btn-primary btn-xs" href="/admin/edit/producer?id={{ProducerID}}" role="button">
						<span class="glyphicon glyphicon-wrench"></span>
					</a>
				</td>
			</tr>
			{{/each}}
		</table>
		<br>
		<a class="btn btn-success" href="/admin/add/producer" role="button">New Producer</a>
		<button class="btn btn-warning" onclick="deleteProducer()">Delete All Selected</button>

	</div>
{{/section}}