{{#section 'js'}}
	<script type="text/javascript">
		var validate = function() {
		    if ($('#inputUsername').val().length === 0) {
		        $('#username').text('Username not null!!!').addClass('validate');
		        return false;
		    } else {
		    	$('#username').text('');
		    }

		    if ($('#inputPassword').val().length === 0) {
		        $('#password').text('Password not null!!!').addClass('validate');
		        return false;
		    } else {
		    	$('#password').text('');
		    }

		    return true;
		}
	</script>
{{/section}}


{{#if showError}}
<section class="bgwhite p-t-10 p-b-10">
	<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong></strong> {{errorMsg}}:  Username and Password are incorrect!!!
	</div>
</section>
{{/if}}

{{#if showSuccess}}
<section class="bgwhite p-t-10 p-b-10">
	<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong></strong> {{successMsg}}:  Đăng nhập vào tải khoản ngay
	</div>
</section>
{{/if}}


{{#section 'title1'}}
			<!-- Login -->
			<section class="bgwhite p-t-10 p-b-80">
				<div class="container">
					<div class="row">
						<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						</div>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 txt-login-register">
							<h3>Welcome to Wine. Log on now!</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						</div>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 style-content">
							<form action="" class="form-horizontal" method="POST" role="form" onsubmit="return validate();">
								<div class="form-group">
									<label for="inputUsername" class="col-sm-3 control-label">Username</label>
									<div class="col-sm-8">
										<input type="text" class="form-control txt-input" id="inputUsername" placeholder="Username" name="username">
										<div id="username"></div>
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-3 control-label">Password</label>
									<div class="col-sm-8">
										<input type="password" class="form-control txt-input" id="inputPassword" placeholder="Password" name="password">
										<div id="password"></div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-9">
										<button type="submit" class="btn btn-success">Sign in</button>
									</div>
								</div>
								<hr>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-9 btn-login-register">
										<p><b>You don't have an account?</b> <a href="/account/register">Register</a></p>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
{{/section}}

