{{#section 'js'}}
	<script type="text/javascript">
		var validate = function() {
		    if ($('#inputFullname').val().length === 0) {
		        $('#fullname').text('Fullname not null!!!').addClass('validate');
		        return false;
		    } else {
		    	$('#fullname').text('');
		    }

		    if ($('#inputAddress').val().length === 0) {
		        $('#address').text('Address not null!!!').addClass('validate');
		        return false;
		    } else {
		    	$('#address').text('');
		    }

		    return true;
		}
	</script>
{{/section}}

{{#section 'title1'}}
		<!-- breadcrumb -->
		<section class="bgwhite">
			<div class="bread-crumb bgwhite flex-w p-l-100 p-r-15 p-t-30 p-l-15-sm">
				<a href="/" class="s-text16">
					Home
					<i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
				</a>
				<span class="s-text17 bold-text">
					Information of account
				</span>
			</div>
		</section>

{{/section}}

{{#section 'title2'}}
			<section class="bgwhite p-t-30 p-b-80">
				<div class="container">
					<div class="row content-row1">
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 txt-name-account">
							<div class="txt-account">Account of</div>
							<div class="txt-name">{{user.Fullname}}</div>
						</div>
						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 txt-padding-left">
							<div class="txt-content-account">Infomation of account</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<div class="list-group">
								<a href="/account/profile" class="list-group-item menu-account color-background">
									<span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp;&nbsp;
									Infomation of account
								</a>
								<a href="/history/order" class="list-group-item menu-account">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> &nbsp;&nbsp;Management order</a>
								<a href="#" class="list-group-item menu-account">
									<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> &nbsp;&nbsp;Information payment</a>
								<a href="#" class="list-group-item menu-account">
									<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> &nbsp;&nbsp;FAQ</a>
								<a href="#" class="list-group-item menu-account">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> &nbsp;&nbsp;Review product</a>
							</div>
						</div>
						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 content-show">
							{{#with user}}
							<form action="" method="POST" class="form-horizontal" name="frmProfile" onsubmit="return validate();">
								<div class="form-group">
									<label for="inputFullname" class="col-sm-2 control-label txt-label">Full name</label>
									<div class="col-sm-8">
										<input type="text" name="fullname" class="form-control txt-input" id="inputFullname" value="{{Fullname}}">
										<div id="fullname"></div>
										<input type="text" name="userid" class="hidden" id="inputFullname" value="{{UserID}}">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPhoneNumber" class="col-sm-2 control-label txt-label" style="">Phone number</label>
									<div class="col-sm-8">
										<input type="text" name="phonenumber" class="form-control txt-input" id="inputPhoneNumber" value="{{PhoneNumber}}" readonly>
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail" class="col-sm-2 control-label txt-label">Email</label>
									<div class="col-sm-8">
										<input type="email" name="email" class="form-control txt-input" id="inputEmail" value="{{Email}}" readonly>
									</div>
								</div>
								<div class="form-group">
									<label for="inputAddress" class="col-sm-2 control-label txt-label">Address</label>
									<div class="col-sm-8">
										<input type="text" name="address" class="form-control txt-input" id="inputAddress" value="{{Address}}">
										<div id="address"></div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button type="submit" class="btn btn-success btn-update">Update</button>
									</div>
								</div>
							</form>
							{{/with}}
						</div>
					</div>
				</div>
			</section>
{{/section}}