{{#section 'js'}}
	<script type="text/javascript">
		var validate = function() {
		    if ($('#inputUsername').val().length === 0) {
		        $('#username').text('Username not null!!!').addClass('validate');
		        return false;
		    } else {
		    	$('#username').text('');
		    }

		    if ($('#inputFullname').val().length === 0) {
		        $('#fullname').text('Fullname not null!!!').addClass('validate');
		        return false;
		    } else {
		    	$('#fullname').text('');
		    }

		    if ($('#inputPhoneNumber').val().length === 0) {
		        $('#phonenumber').text('PhoneNumber not null!!!').addClass('validate');
		        return false;
		    } else {
		    	$('#phonenumber').text('');
		    }

		    if ($('#inputEmail').val().length === 0) {
		        $('#email').text('Email not null!!!').addClass('validate');
		        return false;
		    } else {
		    	$('#email').text('');
		    }

		    if ($('#inputAddress').val().length === 0) {
		        $('#address').text('Address not null!!!').addClass('validate');
		        return false;
		    } else {
		    	$('#address').text('');
		    }

		    if ($('#inputPassword').val().length === 0) {
		        $('#password').text('Password not null!!!').addClass('validate');
		        return false;
		    } else {
		    	$('#password').text('');
		    }

		    return true;
		}
	</script>
{{/section}}




{{#section 'js'}}
	<script type="text/javascript" src="/assests/validate.js"></script>
	<script></script>
{{/section}}

{{#section 'title1'}}
			<section class="bgwhite p-t-10 p-b-80">
				<div class="container">
					<div class="row">
						<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						</div>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 txt-login-register">
							<h3>Create account Wine</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						</div>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 style-content">
							<form action="" class="form-horizontal" method="POST" role="form" onsubmit="return validate();">
								<div class="form-group">
									<label for="inputUsername" class="col-sm-3 control-label">Username</label>
									<div class="col-sm-8">
										<input type="text" class="form-control txt-input" id="inputUsername" placeholder="Username" name="username">
										<div id="username"></div>
									</div>
								</div>
								<div class="form-group">
									<label for="inputFullname" class="col-sm-3 control-label">Full name</label>
									<div class="col-sm-8">
										<input type="text" class="form-control txt-input" id="inputFullname" placeholder="Full name" name="fullname">
										<div id="fullname"></div>
									</div>
								</div>
								<div class="form-group">
									<label for="inputPhoneNumber" class="col-sm-3 control-label">Phone number</label>
									<div class="col-sm-8">
										<input type="text" class="form-control txt-input" id="inputPhoneNumber" placeholder="Phone number" name="phonenumber">
										<div id="phonenumber"></div>
									</div>
								</div>
								<div class="form-group">
									<label for="inputEmail" class="col-sm-3 control-label">Email</label>
									<div class="col-sm-8">
										<input type="text" class="form-control txt-input" id="inputEmail" placeholder="Email" name="email">
										<div id="email"></div>
									</div>
								</div>
								<div class="form-group">
									<label for="inputAddress" class="col-sm-3 control-label">Address</label>
									<div class="col-sm-8">
										<input type="text" class="form-control txt-input" id="inputAddress" placeholder="Address" name="address">
										<div id="address"></div>
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-3 control-label">Password</label>
									<div class="col-sm-8">
										<input type="password" class="form-control txt-input" id="inputPassword" placeholder="Password" name="password">
										<div id="password"></div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-10">
										<button type="submit" class="btn btn-success">Register</button>
									</div>
								</div>
								<hr>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-10 btn-login-register">
										<p><b>You have had an account?</b> <a href="/account/login">Log in</a></p>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
{{/section}}
