

{{#section 'title1'}}
		<!-- breadcrumb -->
		<section class="bgwhite">
			<div class="bread-crumb bgwhite flex-w p-l-100 p-r-15 p-t-30 p-l-15-sm">
				<a href="/" class="s-text16">
					Home
					<i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
				</a>
				<span class="s-text17 bold-text">
					Management order
				</span>
			</div>
		</section>
{{/section}}

{{#section 'title2'}}
			<section class="bgwhite p-t-30 p-b-80">
				<div class="container">
					<div class="row content-row1">
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 txt-name-account">
							<div class="txt-account">Account of</div>
							<div class="txt-name">{{user.Fullname}}</div>
						</div>
						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 txt-padding-left">
							<div class="txt-content-account">Management order</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<div class="list-group">
								<a href="/account/profile" class="list-group-item menu-account">
									<span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp;&nbsp;
									Infomation of account
								</a>
								<a href="/history/order" class="list-group-item menu-account color-background">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> &nbsp;&nbsp;Management order</a>
								<a href="#" class="list-group-item menu-account">
									<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> &nbsp;&nbsp;Information payment</a>
								<a href="#" class="list-group-item menu-account">
									<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> &nbsp;&nbsp;FAQ</a>
								<a href="#" class="list-group-item menu-account">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> &nbsp;&nbsp;Review product</a>
							</div>
						</div>

						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
							<div class="row show-order">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 order-detail-background">
									<div class="row temp-menu">
										<div class="temp-menu-content-order">
											<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 item-padding">
												<p>ID</p>
											</div>
											<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 item-padding">
												<p>Date buy</p>
											</div>
											<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 item-padding">
												<p>Delivery date</p>
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding">
												<p>Total money</p>
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding">
												<p>Status</p>
											</div>
											<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 item-padding-right"></div>
										</div>
									</div>
									
									{{#each orders}}
									<div class="row temp-menu">
										<div class="temp-content-order status-order-done">
											<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 item-padding">
												<div>{{OrderID}}</div>
											</div>
											<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 item-padding">
												<div>{{OrderDate}}</div>
											</div>
											<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 item-padding">
												<div></div>
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding">
												<div>${{Total}}</div>
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding">
												<div>Delivered</div>
											</div>
											<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 item-padding-right">
												<a class="btn btn-success btn-xs" href="/history/order/{{OrderID}}" role="button">
													<span class="glyphicon glyphicon-eye-open"></span>
												</a>
											</div>
										</div>
									</div>
									{{/each}}
									{{!-- <div class="row temp-menu">
										<div class="temp-content-order status-order-notdone">
											<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 item-padding">
												<div>002</div>
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding">
												<div>23/11/2017</div>
											</div>
											<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 item-padding">
												<div>La Marca...</div>
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding">
												<div>$10.97</div>
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding">
												<div>Not delivery</div>
											</div>
											<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 item-padding-right">
												<a class="btn btn-danger btn-xs" href="/history/order/1" role="button">
													<span class="glyphicon glyphicon-eye-open"></span>
												</a>
											</div>
										</div>
									</div>

									<div class="row temp-menu">
										<div class="temp-content-order status-order-doing">
											<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 item-padding">
												<div>003</div>
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding">
												<div>17/4/2018</div>
											</div>
											<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 item-padding">
												<div>Apothic Red...</div>
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding">
												<div>$7.27</div>
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding">
												<div>Doing delivery</div>
											</div>
											<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 item-padding-right">
												<a class="btn btn-warning btn-xs" href="/history/order/1" role="button">
													<span class="glyphicon glyphicon-eye-open"></span>
												</a>
											</div>
										</div>
									</div> --}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
{{/section}}