
{{#section 'title1'}}
		<!-- breadcrumb -->
		<section class="bgwhite">
			<div class="bread-crumb bgwhite flex-w p-l-100 p-r-15 p-t-30 p-l-15-sm">
				<a href="/" class="s-text16">
					Home
					<i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
				</a>
				<span class="s-text17 bold-text">
					Management order
				</span>
			</div>
		</section>
{{/section}}

{{#section 'title2'}}
			<section class="bgwhite p-t-30 p-b-80">
				<div class="container">
					<div class="row content-row1">
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 txt-name-account">
							<div class="txt-account">Account of</div>
							<div class="txt-name">{{user.Fullname}}</div>
						</div>
						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 txt-padding-left">
							<div class="txt-content-account">Detail order: {{order.OrderID}}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<div class="list-group">
								<a href="/account/profile" class="list-group-item menu-account">
									<span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp;&nbsp;
									Infomation of account
								</a>
								<a href="/history/order" class="list-group-item menu-account color-background">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> &nbsp;&nbsp;Management order</a>
								<a href="#" class="list-group-item menu-account">
									<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> &nbsp;&nbsp;Information payment</a>
								<a href="#" class="list-group-item menu-account">
									<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> &nbsp;&nbsp;FAQ</a>
								<a href="#" class="list-group-item menu-account">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> &nbsp;&nbsp;Review product</a>
							</div>
						</div>
						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
							<div class="row">
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 txt-padding-left">
									<div class="txt-item">RECIPIENT ADDRESS</div>
									<div class="txt-info-order-detail">
										<div class="txt-order-name">{{user.Fullname}}</div>
										<div class="txt-order-address"><b>Address:</b> {{user.Address}}</div>
										<div class="txt-order-phone"><b>Phone number:</b> {{user.PhoneNumber}}</div>
									</div>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 txt-padding-left">
									<div class="txt-item">DELIVERY TYPE</div>
									<div class="txt-info-order-detail">
										<div class="txt-delivery">Vận chuyển Tiết Kiệm (dự kiến giao hàng sau 3 ngày đặt hàng)</div>
										<div class="txt-delivery-fee">Miễn phí vận chuyển</div>
									</div>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 txt-padding-left">
									<div class="txt-item">PAYMENT</div>
									<div class="txt-info-order-detail">
										<div class="txt-payment">Thanh toán tiền mặt khi nhận hàng</div>
									</div>
								</div>
							</div>

							<div class="row show-order-detail">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 order-detail-background">
									<div class="row temp-menu">
										<div class="temp-menu-content">
											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 item-padding">
												<p>Product</p>
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding">
												<p>Cost</p>
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding">
												<p>Quantity</p>
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding-right">
												<p>Amount</p>
											</div>
										</div>
									</div>
									
									{{#each products}}
									<div class="row temp-menu">
										<div class="temp-content">
											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 item-padding">
												<div>{{ProName}}</div>
												{{!-- <div class="txt-producer">Tesco</div> --}}
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding">
												<div>${{Price}}</div>
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding amount-padding-order">
												<div class="quantity">{{Quantity}}</div>
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding-right">
												<div>${{Amount}}</div>
											</div>
										</div>
									</div>
									{{/each}}
									<div class="row temp-menu">
										<div class="temp-content-last">
											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding-right">
												<div>Total cost :</div>
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding-right">
												<div class="total-cost">${{order.Total}}</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row link-back-order">
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 txt-padding-left">
									<a class="btn btn-success" href="/history/order" role="button">Come back my orders</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
{{/section}}
