.admin-header {
	background-color: #27408B;
	color: white;
	padding: 5px;
	height: 80px;
}
.admin-header h3 {
	float: left;
	margin-left: 10px;
}
.admin-header ul {
	list-style-type: none;
	margin-right: 30px;
	margin-top: 10px;
	float: right;
}
.admin-header ul li {
	float: left;
}
.admin-header ul li a {
	text-decoration: underline;
	padding: 16px;
	text-align: center;
	display: block;
	color: white;
}

.admin-avatar {
	float: left;
	margin-left: 40px;
}
.admin-avatar img {
	width: 50px;
	height: 50px;
	margin-top: 10px;
}

.admin-search input {
	width: 200px;
	height: 30px;
	margin-top: 20px;
	margin-left: 50px;
}
.button-search {
	width: 30px;
	height: 30px;
	margin-top: 20px;
	margin-left: 10px;
	border-radius: 2px;
}

.admin-menu {
	background-color: #104E8B;
	height: 560px;
	padding-top: 50px;
}
.admin-menu ul {
	list-style-type: none;
}
.admin-menu ul li {
	width: 100%;
}
.admin-menu ul li a {
	margin-top: 100px;
	color: white;
}
.admin-menu hr {
	width: 250px;
	margin-left: 0px;
}

.admin-content {
	min-height: 560px;
	background-color: #E0FFFF;
	padding-top: 10px;
	text-align: center;
}
.admin-content h2 {
	margin-top: 20px;
}

.admin-position-items {
	max-width: 420px;
	max-height: 420px;
	margin-top: 20px;
	margin-left: 480px; 
}

.admin-item {
	width: 200px;
	height: 200px;
	border-radius: 5px;
	background-color: white;
	float: left;
	text-align: center;
	margin: 5px;
	padding-top: 40px;
}

.admin-item img {
	width: 100px;
	height: 100px;
}

.change-password {
	width: 500px;
	height: 300px;
	background-color: #B5B5B5;
	border-radius: 10px;
	margin: auto;
	margin-top: 50px;
	text-align: center;
	padding-top: 20px;
}
.change-password button {
	margin-top: 20px;
}

.label-change-password {
	text-align: right;
}
.label-change-password label {
	margin-top: 5px;
}

.input-change-password input {
	border-radius: 3px;
	margin: 5px;
}

.validate {
	color: red;
	font-size: 13px;
	margin-top: 3px;
	text-align: left;
}

.breadcrumbadmin {
	text-align: left;
}

.bgbreadcrumb {
	background-color: #E0FFFF !important;
	font-size: 17px;
}