.product-details button {
	margin-top: 5px;
}

.product-name {
	margin-top: 10px;
	margin-left: 250px;
	margin-bottom: 10px;
	text-align: center;
}

.product-small-image img {
	max-width: 100px;
	max-height: 120px;
	margin-left: 30px;
}

.product-large-image img {
	max-width: 340px;
	max-height: 360px;
}

.product-details-content h3 input {
	width: 200px;
}

.description textarea {
	width: 450px;
	height: 200px;
	align-content: top;
}