.table {
	background-color: white;
	width: 800px;
	margin: auto;
	margin-top: 20px;
	border-radius: 10px;
}
.table tr {
	text-align: left;
}

.table-header {
	background-color: #104E8B;
	color: white;
}

.product-filter {
	margin-top: 30px;
}