
.p-t-160 {
	padding-top: 160px;
}

.p-b-80 {
	padding-bottom: 80px;
}

.content-row1 {
	margin-bottom: 5px;
}

.style-content {
	background-color: #F5F5F5;
	margin-top: 25px;
	padding-top: 30px;
	padding-bottom: 20px;
}

.btn-login-register a {
	color: blue;
	font-weight: bold;
}

.txt-login-register {
	padding-left: 0px;
}

.txt-name-account {
	padding-left: 55px;
}

.txt-account {
	font-size: 15px;
}

.txt-name {
	font-size: 20px;
}

.txt-content-account {
	line-height: 47px;
	font-size: 20px;
}

.txt-padding-left {
	padding-left: 0px;
}


.menu-account {
	border: none;
}

.content-show {
	background-color: #F5F5F5;
	padding-top: 20px;
	padding-bottom: 20px;
}

.txt-label {
	text-align: left !important;
	margin-left: 20px;
}


.txt-input {
	height: 40px;
}

.btn-update {
	margin-left: 20px;
}

.color-background {
	background-color: #F5F5F5 !important;
}

.txt-info-order-detail {
	background-color: #F5F5F5;
	margin-top: 10px;
	border-radius: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 13px;
	padding-bottom: 13px;
	height: 110px;
}

.txt-order-name {
	font-weight: bold;
	font-size: 13px;
}

.txt-order-address {
	font-size: 12px;
	margin-top: 7px;
}

.txt-order-phone {
	font-size: 12px;
	margin-top: 5px;
}

.txt-delivery {
	font-size: 12px;
}

.txt-delivery-fee {
	font-size: 12px;
	margin-top: 5px;
}

.txt-payment {
	font-size: 12px;
}

.txt-item {
	font-size: 13px;
	font-weight: bold;
}



.show-order-detail {
	margin-top: 20px;
	padding-right: 15px;
}

.show-order-detail1 {
	padding-right: 15px;
}

.order-detail-background {
	background-color: #F5F5F5;
	border-radius: 2px;
	padding-right: 0px;
	padding-left: 0px;
}

.item-padding {
	padding-left: 15px;
}

.item-padding-right {
	text-align: right;
	padding-right: 15px;
}

.temp-menu-content {
	border-bottom: 1px solid #D3D3D3;
	width: 100%;
	padding-bottom: 15px;
	padding-top: 15px;
}

.temp-content {
	border-bottom: 1px solid #D3D3D3;
	width: 100%;
	padding-bottom: 15px;
	padding-top: 15px;
}

.temp-menu {
	padding-left: 15px;
	padding-right: 15px;
}

.temp-content:hover {
	background-color: #CAE1FF;
}

.txt-producer {
	font-size: 10px;
	margin-top: 3px;
}

.temp-content-last {
	width: 100%;
	padding-bottom: 15px;
	padding-top: 15px;
}

.total-cost {
	color: red;
	font-size: 16px;
}

.link-back-order {
	margin-top: 20px;
}


.show-order {
	padding-right: 15px;
}

.temp-content-order {
	border-top: 1px solid #D3D3D3;
	width: 100%;
	padding-bottom: 15px;
	padding-top: 15px;
	font-size: 12px;
}

.temp-content-order:hover {
	background-color: #CAE1FF;
}

.temp-menu-content-order {
	width: 100%;
	padding-bottom: 15px;
	padding-top: 15px;
}

.status-order-done {
	color: green;
}

.status-order-notdone {
	color: red;
}

.status-order-doing {
	color: #FFCC66;
}

.amount-padding {
	/*padding-left: 0px;
	width: 100%;*/
	padding: 0px !important;
}

.amount-padding-order {
	padding-left: 40px;
}

.height-select {
	height: 34px !important;
}

.width-search {
	width: 100%;
	margin-left: 0px;
}

.slidecontainer {
    width: 100%;
}

.padding-left-input {
	padding-left: 0px;
}

.padding-right-input {
	padding-right: 0px;
	text-align: right;
}

.item-img {
	width: 100%;
	padding-right: 0px !important;
	padding-left: 7px !important;
}


.size-img img {
	width: 100%;
	height: 75px;
}

.info-order-buy {
	background-color: #F5F5F5;
	padding-top: 20px;
	padding-right: 15px;
	padding-left: 15px;
	height: 240px;
	border-radius: 2px;
}

.txt-info-order-buy {
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: bold;
}

.txt-total-money {
	width: 50%;
	float: left;
	margin-bottom: 15px;
}

.total-money {
	width: 50%;
	float: left;
	text-align: right;
	margin-bottom: 15px;
}

.txt-fee-delivery {
	width: 50%;
	float: left;
	margin-bottom: 15px;
}

.money-delivery {
	width: 50%;
	float: left;
	text-align: right;
	margin-bottom: 15px;
}

.txt-total-money-buy {
	width: 50%;
	float: left;
	margin-bottom: 25px;
	font-weight: bold;
}

.total-money-buy {
	width: 50%;
	float: left;
	text-align: right;
	margin-bottom: 25px;
	font-size: 18px;
	color: red;
}

.btn-payment {
	width: 100%;
}

.btn-payment a {
	width: 100%;
}

.minnus-product {
	float: left;
}

.plus-product {
	float: left;
}

.amount-product-buy {
	float: left;
	margin-left: 7px;
	margin-right: 7px;
}

.amount-product-buy input {
	width: 45px;
	height: 25px;
}

.disable-payment {
	pointer-events: none;
}

.content-info-payment {
	background-color: #F5F5F5;
	padding-top: 20px;
	padding-bottom: 30px;
	border-radius: 2px;
}

.height-select-city {
	height: 34px !important;
}

.txt-info-delivery {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 25px;
}


.width-btn {
	width: 100%;
	margin-top: 30px;
}

.cost-product {
	color: red;
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
}


.content-amount-buy {
	width: 50%;
	float: left;
	margin-bottom: 10px;
}

.content-amount-buy .txt-amount-buy {
	float: left;
	margin-right: 10px;
}

.content-amount-buy .number-buy {
	color: blue;
}



.content-amout-seen {
	width: 50%;
	float: left;
	margin-bottom: 10px;
}

.content-amout-seen .txt-amount-seen {
	float: left;
	margin-right: 10px;
}

.content-amout-seen .number-seen {
	color: red;
}

.content-origin {
	margin-bottom: 10px;
}

.content-origin .txt-origin {
	float: left;
	margin-right: 10px;
	font-weight: bold;
}

.content-origin .info-origin {
	margin-right: 10px;
}

.content-type {
	margin-bottom: 10px;
}

.content-type .txt-type {
	float: left;
	margin-right: 10px;
	font-weight: bold;
}

.content-type .info-type {
	margin-right: 10px;
}

.content-producer {
	margin-bottom: 20px;
}

.content-producer .txt-content-producer {
	float: left;
	margin-right: 10px;
	font-weight: bold;
}

.content-producer .info-producer {
	margin-right: 10px;
}

.txt-number-want-buy {
	font-size: 12px;
	margin-bottom: 5px;
}

.btn-add-to-cart button {
	height: 45px;
	width: 100%;
}

.btn-add-to-cart .icon-add-cart {
	font-size:20px;
}

.bold-text {
	font-weight: bold;
}

.content-product-wine img {
	width: 262px;
	height: 365px;
}

.img-product-detail img {
	width: 460px;
	height: 615px;
}

.border-for-product {
	border: 1px solid gray;
	border-radius: 2px;
}

.quantity {
	padding-left: 30px;
}

.validate {
	color: red;
	font-size: 13px;
	margin-top: 3px;
}