
{{#section 'title1'}}
		<!-- Slide1 -->
		<section class="slide1">
			<div class="wrap-slick1">
				<div class="slick1">
					<div class="item-slick1 item1-slick1" style="background-image: url(../../images/banner/home_banner1.jpg);">
						<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
							<span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
								Wine Collection 2018
							</span>
							<h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
							New arrivals
							</h2>
							<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
								<!-- Button -->
								<a href="/shop" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
									Shop Now
								</a>
							</div>
						</div>
					</div>
					<div class="item-slick1 item2-slick1" style="background-image: url(../../images/banner/home_banner2.jpg);">
						<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
							<span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rollIn">
								Wine Collection 2018
							</span>
							<h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">
							New arrivals
							</h2>
							<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">
								<!-- Button -->
								<a href="/shop" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
									Shop Now
								</a>
							</div>
						</div>
					</div>
					<div class="item-slick1 item3-slick1" style="background-image: url(../../images/banner/home_banner3.jpg);">
						<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
							<span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rotateInDownLeft">
								Wine Collection 2018
							</span>
							<h2 class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37" data-appear="rotateInUpRight">
							New arrivals
							</h2>
							<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="rotateIn">
								<!-- Button -->
								<a href="/shop" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
{{/section}}


	<!-- New Product -->
{{#section 'title2'}}
		<section class="bgwhite p-t-80 p-b-105">
			<div class="container">
				<div class="sec-title p-b-60">
					<h3 class="m-text5 t-center">
					New Products
					</h3>
				</div>
				<div class="row">
					{{#each newProducts}}
					<div class="col-sm-12 col-md-6 col-lg-3 p-b-50">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
								<img src="/images/sp/{{ProID}}/main_thumb.jpg" alt="{{ProName}}" title="{{ProName}}">
								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>
									<form action="/cart/add" method="POST" name="frmproduct">
										<input type="text" class="hidden" name="quantity" value="1">
											<input type="text" class="hidden" name="proId" value="{{ProID}}">
										{{!-- {{#if layoutVM.isLogged}} --}}
										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" type="submit">
												Add to Cart
											</button>
										</div>
										{{!-- {{/if}} --}}
										</form>
									{{!-- <div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
										Add to Cart
										</button>
									</div> --}}
								</div>
							</div>
						</div>
						<div class="block2-txt p-t-20">
							<a href="/shop/productId/{{ProID}}/{{CatID}}/{{ProducerID}}" class="block2-name dis-block s-text3 p-b-5">
								{{ProName}}
							</a>
							<span class="block2-price m-text6 p-r-5">
								${{ProPrice}}
							</span>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</section>
{{/section}}

{{#section 'title3'}}
		<!-- Most viewed products -->
		<section class="bgwhite p-t-45 p-b-105">
			<div class="container">
				<div class="sec-title p-b-60">
					<h3 class="m-text5 t-center">
					Most view products 
					</h3>
				</div>
				<div class="row">
					{{#each mostviewP}}
					<div class="col-sm-12 col-md-6 col-lg-3 p-b-50">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative">
								<img src="/images/sp/{{ProID}}/main_thumb.jpg" alt="{{ProName}}" title="{{ProName}}">
								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>
									<form action="/cart/add" method="POST" name="frmproduct">
										<input type="text" class="hidden" name="quantity" value="1">
											<input type="text" class="hidden" name="proId" value="{{ProID}}">
										{{!-- {{#if layoutVM.isLogged}} --}}
										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" type="submit">
												Add to Cart
											</button>
										</div>
										{{!-- {{/if}} --}}
										</form>
									{{!-- <div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
										Add to Cart
										</button>
									</div> --}}
								</div>
							</div>
						</div>
						<div class="block2-txt p-t-20">
							<a href="/shop/productId/{{ProID}}/{{CatID}}/{{ProducerID}}" class="block2-name dis-block s-text3 p-b-5">
								{{ProName}}
							</a>
							<span class="block2-price m-text6 p-r-5">
								${{ProPrice}}
							</span>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</section>
{{/section}}

{{#section 'title4'}}
		<!-- PRODUCTS BESTSELLER -->
		<section class="bgwhite p-t-45 p-b-105">
			<div class="container">
				<div class="sec-title p-b-60">
					<h3 class="m-text5 t-center">
					Bestseller Products
					</h3>
				</div>
				<div class="row">
					{{#each bestsellerP}}
					<div class="col-sm-12 col-md-6 col-lg-3 p-b-50">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative">
								<img src="/images/sp/{{ProID}}/main_thumb.jpg" alt="{{ProName}}" title="{{ProName}}">
								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>
									<form action="/cart/add" method="POST" name="frmproduct">
										<input type="text" class="hidden" name="quantity" value="1">
											<input type="text" class="hidden" name="proId" value="{{ProID}}">
										{{!-- {{#if layoutVM.isLogged}} --}}
										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" type="submit">
												Add to Cart
											</button>
										</div>
										{{!-- {{/if}} --}}
										</form>
									{{!-- <div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
										Add to Cart
										</button>
									</div> --}}
								</div>
							</div>
						</div>
						<div class="block2-txt p-t-20">
							<a href="/shop/productId/{{ProID}}/{{CatID}}/{{ProducerID}}" class="block2-name dis-block s-text3 p-b-5">
								{{ProName}}
							</a>
							<span class="block2-price m-text6 p-r-5">
								${{ProPrice}}
							</span>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</section>
{{/section}}

