

<!-- breadcrumb -->
{{#section 'title1'}}
	<section class="bgwhite">
			<div class="bread-crumb bgwhite flex-w p-l-90 p-r-15 p-t-30 p-l-15-sm">
				<a href="index.html" class="s-text16">
					Home
					<i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
				</a>
				<span class="s-text17 bold-text">Cart</span>
			</div>
		</section>
{{/section}}

{{#section 'title2'}}
	<section class="bgwhite p-t-40 p-b-80">
				<div class="container">
					<div class="row">
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
							<div class="row content-info-payment m-r-0">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="txt-info-delivery">Information delivery</div>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 m-t-col-6">
									<form>
									  	<div class="form-group">
									    	<label for="exampleInputEmail">Email address</label>
									    	<input type="email" class="form-control" id="exampleInputEmail" placeholder="Input email">
									  	</div>
									  	<div class="form-group">
									    	<label for="exampleInputName">Name</label>
									    	<input type="text" class="form-control" id="exampleInputName" placeholder="Input full name">
										</div>
										<div class="form-group">
									    	<label for="exampleInputPhone">Phone number</label>
									    	<input type="password" class="form-control" id="exampleInputPhone" placeholder="Input phone number">
										</div>
										<button type="submit" class="btn btn-success width-btn">Save information</button>
									</form>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 m-t-col-6">
									<form>
									  	<div class="form-group">
									    	<label for="exampleInputShipping">Shipping address</label>
									    	<input type="email" class="form-control" id="exampleInputShipping" placeholder="Input shipping address">
									  	</div>
									  	<div class="form-group">
      										<label>Disabled select menu</label>
										  	<select class="form-control height-select-city">
										  		<option value="">TP. HCM</option>
										  		<option value="">Đà nẵng</option>
										  		<option value="">Cần Thơ</option>
										  		<option value="">Hà Nội</option>
										  	</select>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<div class="info-order-buy">
								<div class="txt-info-order-buy">Information order</div>
								<div class="txt-total-money">Money temporary</div>
								<div class="total-money">$35.53</div>
								<div class="txt-fee-delivery">Fee delivery</div>
								<div class="money-delivery">$0</div>
								<div class="txt-total-money-buy">Total money</div>
								<div class="total-money-buy">$35.53</div>
								<div class="btn-payment disable-payment">
									<a class="btn btn-info" href="payment.html" role="button">Payment processing</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
{{/section}}
