

{{#section 'js'}}
	<script type="text/javascript">
		$('.removeItem').on('click', function() {
		    var id = $(this).data('proid');
		    $('#txtProId_R').val(id);
		    $('#frmRemoveItem').submit();
		});

		$('.orderPro').on('click', function() {
			var date = new Date();
			$('#txtDate').val(date.toDateString());
			$('#frmOrder').submit();
		});
	</script>
{{/section}}

{{#section 'title1'}}
	<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(../../images/banner/cart_banner.jpg);">
			<h2 class="l-text2 t-center">
				Cart
			</h2>
		</section>
{{/section}}

{{#if showSuccess}}
<section class="bgwhite p-t-10 p-b-10">
	<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong></strong> {{successMsg}}:  Order successful
	</div>
</section>
{{/if}}

{{#if NotOrder}}
<section class="bgwhite p-t-10 p-b-10">
	<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong></strong> {{ErrorMsg}}:  Chưa có sản phẩm nào trong giỏ hàng
	</div>
</section>
{{/if}}

<!-- breadcrumb -->
{{#section 'title2'}}
	<section class="bgwhite">
			<div class="bread-crumb bgwhite flex-w p-l-90 p-r-15 p-t-30 p-l-15-sm">
				<a href="index.html" class="s-text16">
					Home
					<i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
				</a>
				<span class="s-text17 bold-text">
					Cart
				</span>
			</div>
		</section>
{{/section}}

{{#section 'title3'}}
	</section>
			<section class="bgwhite p-t-40 p-b-80">
				<div class="container">
					<div class="row">

						<form id="frmRemoveItem" method="POST" action="/cart/remove">
							<input id="txtProId_R" type="text" name="ProId" class="hidden">
						</form>

						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
							<div class="row show-order-detail1">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 order-detail-background">
									<div class="row temp-menu">
										<div class="temp-menu-content">
											<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
											</div>
											<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 item-padding">
												<p>Product</p>
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding">
												<p>Cost</p>
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding">
												<p>Quantity</p>
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding-right">
												<p>Amount</p>
											</div>
											<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 item-padding-right"></div>
										</div>
									</div>

									<div class="row temp-menu">
										{{#each items}}
										<div class="temp-content">
											<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 item-img">
												<div class="size-img">
													<img src="/images/sp/{{Product.ProID}}/main_thumb.jpg" alt="IMG-PRODUCT">
												</div>
											</div>
											<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 item-padding">
												<div>{{Product.ProName}}</div>
												{{!-- <div class="txt-producer">La Marca</div> --}}
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding">
												<div>${{number_format Product.ProPrice}}</div>
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 amount-padding">
												<div class="minnus-product">
													<a class="btn btn-success btn-xs" href="javascript:;" role="button" id="remove">
														<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
													</a>
												</div>
												<div class="amount-product-buy">
													<input class="btn btn-default" type="text" value="{{Quantity}}">
												</div>
												<div class="plus-product">
													<a class="btn btn-success btn-xs" href="javascript:;" role="button" id="remove">
														<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
													</a>
												</div>
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding-right">
												<div>${{number_format Amount}}</div>
											</div>
											<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 item-padding-right">
												<a data-proid="{{Product.ProID}}" class="btn btn-xs btn-danger removeItem" href="javascript:;" role="button">
													<span class="glyphicon glyphicon-remove"></span>
												</a>
											</div>
										</div>
										{{/each}}
									</div>
									<div class="row temp-menu">
										<div class="temp-content-last">
											<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7"></div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding-right">
												<div>Total cost :</div>
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 item-padding-right">
												{{#if setup}}
												<div class="total-cost">$0</div>
												{{else}}
												<div class="total-cost">${{number_format total}}</div>
												{{/if}}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 info-order-buy">
							<div class="txt-info-order-buy">Information order</div>
							<div class="txt-total-money">Money temporary</div>
							{{#if setup}}
							<div class="total-money">$0</div>
							{{else}}
							<div class="total-money">${{number_format total}}</div>
							{{/if}}
							<div class="txt-fee-delivery">Fee delivery</div>
							<div class="money-delivery">$0</div>
							<div class="txt-total-money-buy">Total money</div>
							{{#if setup}}
							<div class="total-money-buy">$0</div>
							{{else}}
							<div class="total-money-buy">${{number_format total}}</div>
							{{/if}}
							<form id="frmOrder" method="post" action="/cart/order">
								<input id="txtDate" type="text" class="hidden" name="OrderDate">
								<input id="txtTotal" type="text" class="hidden" value="{{number_format total}}" name="Total">
							</form>
							<div class="btn-payment">
								<a class="btn btn-warning orderPro" href="javascript:;" role="button">Payment processing</a>
							</div>
						</div>
					</div>
				</div>
			</section>
{{/section}}
