<!DOCTYPE html>
<html>
<head>
	<title>admin</title>
	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../../assests/bootstrap-3.3.7-dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../../css/admin.css">
		<link rel="stylesheet" type="text/css" href="../../css/management.css">
		<link rel="stylesheet" type="text/css" href="../../css/details.css">
</head>
<body>
	<div class="admin-header">
		{{#if layoutVM.isLogged}}
		<span class="admin-avatar"><img src="../../images/icons/avatar.png"></span>
	 	<h3>Hello ! {{layoutVM.curAdmin.Fullname}}</h3>
	 	{{/if}}
	 	<ul class="nav-right">
	 		{{#if layoutVM.isLogged}}
	 		<form id="frmadLogout" method="post" action="/admin/logout"></form>
			<li><a id="lnkadLogout" href="javascript:;"><b>Log out</b></a></li>
			{{else}}
	 		<li><a href="/admin/login"><b>Login</b></a>
	 		{{/if}}
	 	</ul>
	</div>
	{{{body}}}
	{{{_sections.dashboard}}}
	{{{_sections.change_password}}}

	<div class="row">
		{{{_sections.menu}}}
		{{{_sections.content}}}
	</div>
	
		<!--script-->
	<script type="text/javascript" src="../../assests/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../../assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../js/adminjs/admin.js"></script>
	<script type="text/javascript" src="../../js/adminjs/management.js"></script>
	<script type="text/javascript">
			$('#lnkadLogout').on('click', function() {
				$('#frmadLogout').submit();
			});
		</script>
	{{{_sections.js}}}
</body>
</html>