<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Wine</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="/images/icons/favicon.png"/>
		<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/fonts/themify/themify-icons.css">
		<link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
		<link rel="stylesheet" type="text/css" href="/fonts/elegant-font/html-css/style.css">
		<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
		<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
		<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
		<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
		<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
		<link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css">
		<link rel="stylesheet" type="text/css" href="/vendor/lightbox2/css/lightbox.min.css">
		<link rel="stylesheet" type="text/css" href="/css/util.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" href="/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css">
		{{{_section.css}}}
	</head>
	<body class="animsition">
		<!-- Header -->
		<header class="header1">
			<!-- Header desktop -->
			<div class="container-menu-header">
				<div class="topbar">
					<div class="topbar-social">
						<a href="#" class="topbar-social-item fa fa-facebook"></a>
						<a href="#" class="topbar-social-item fa fa-instagram"></a>
						<a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
						<a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
						<a href="#" class="topbar-social-item fa fa-youtube-play"></a>
					</div>
					<span class="topbar-child1">
						Free shipping for standard order over $100
					</span>
				</div>
				<div class="wrap_header">
					<!-- Logo -->
					<a href="/" class="logo">
						<img src="/images/icons/wines-com.png" alt="IMG-LOGO">
					</a>
					<!-- Menu -->
					<div class="wrap_menu">
						<nav class="menu">
							<ul class="main_menu">
								<li>
									<a href="/">Home</a>
								</li>
								<li>
									<a href="/shop">Shop</a>
								</li>
								{{#if layoutVM.isLogged}}
								<li>
									<a href="/cart">Cart</a>
								</li>
								{{/if}}
							</ul>
						</nav>
					</div>
					<!-- Header Icon -->
					<div class="header-icons">
						{{#if layoutVM.isLogged}}
						<form id="frmLogout" method="post" action="/account/logout"></form>
						<a href="/account/profile"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>&nbsp;&nbsp;
						<div class="txt-name-account-login">Profile</div>
						<span class="linedivide1"></span>
						<a  id="lnkLogout" href="javascript:;">Log out</a>
						{{else}}
						<a href="/account/login">Log in</a>
						<span class="linedivide1"></span>
						<a href="/account/register">Register</a>
						{{/if}}
					</div>
				</div>
			</div>
		</header>

		{{{body}}}

		<!-- Slide1 -->
		{{{_sections.title1}}}

		<!-- New Product -->
		{{{_sections.title2}}}
		
		<!-- PRODUCTS BESTSELLER -->
		{{{_sections.title3}}}
		

		<!-- Most viewed products -->
		{{{_sections.title4}}}

		<!-- Footer -->
		<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
			<div class="flex-w p-b-90">
				<div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
					<h4 class="s-text12 p-b-30">
					GET IN TOUCH
					</h4>
					<div>
						<p class="s-text7 w-size27">
							Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
						</p>
						<div class="flex-m p-t-30">
							<a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
							<a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
							<a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
							<a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
							<a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
						</div>
					</div>
				</div>
				<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
					<h4 class="s-text12 p-b-30">
					Categories
					</h4>
					<ul>
						<li class="p-b-9">
							<a href="#" class="s-text7">
								Men
							</a>
						</li>
						<li class="p-b-9">
							<a href="#" class="s-text7">
								Women
							</a>
						</li>
						<li class="p-b-9">
							<a href="#" class="s-text7">
								Dresses
							</a>
						</li>
						<li class="p-b-9">
							<a href="#" class="s-text7">
								Sunglasses
							</a>
						</li>
					</ul>
				</div>
				<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
					<h4 class="s-text12 p-b-30">
					Links
					</h4>
					<ul>
						<li class="p-b-9">
							<a href="#" class="s-text7">
								Search
							</a>
						</li>
						<li class="p-b-9">
							<a href="#" class="s-text7">
								About Us
							</a>
						</li>
						<li class="p-b-9">
							<a href="#" class="s-text7">
								Contact Us
							</a>
						</li>
						<li class="p-b-9">
							<a href="#" class="s-text7">
								Returns
							</a>
						</li>
					</ul>
				</div>
				<div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
					<h4 class="s-text12 p-b-30">
					Help
					</h4>
					<ul>
						<li class="p-b-9">
							<a href="#" class="s-text7">
								Track Order
							</a>
						</li>
						<li class="p-b-9">
							<a href="#" class="s-text7">
								Returns
							</a>
						</li>
						<li class="p-b-9">
							<a href="#" class="s-text7">
								Shipping
							</a>
						</li>
						<li class="p-b-9">
							<a href="#" class="s-text7">
								FAQs
							</a>
						</li>
					</ul>
				</div>
				<div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
					<h4 class="s-text12 p-b-30">
					Newsletter
					</h4>
					<form>
						<div class="effect1 w-size9">
							<input class="s-text7 bg6 w-full p-b-5" type="text" name="email" placeholder="email@example.com">
							<span class="effect1-line"></span>
						</div>
						<div class="w-size2 p-t-20">
							<!-- Button -->
							<button class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
							Subscribe
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="t-center p-l-15 p-r-15">
				<a href="#">
					<img class="h-size2" src="/images/icons/paypal.png" alt="IMG-PAYPAL">
				</a>
				<a href="#">
					<img class="h-size2" src="/images/icons/visa.png" alt="IMG-VISA">
				</a>
				<a href="#">
					<img class="h-size2" src="/images/icons/mastercard.png" alt="IMG-MASTERCARD">
				</a>
				<a href="#">
					<img class="h-size2" src="/images/icons/express.png" alt="IMG-EXPRESS">
				</a>
				<a href="#">
					<img class="h-size2" src="/images/icons/discover.png" alt="IMG-DISCOVER">
				</a>
				<div class="t-center s-text8 p-t-20">
					Copyright © 2018 All rights reserved. | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
				</div>
			</div>
		</footer>
		<!-- Back to top -->
		<div class="btn-back-to-top bg0-hov" id="myBtn">
			<span class="symbol-btn-back-to-top">
				<i class="fa fa-angle-double-up" aria-hidden="true"></i>
			</span>
		</div>
		<!-- Container Selection1 -->
		<div id="dropDownSelect1"></div>
		<script type="text/javascript" src="/assests/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/vendor/jquery/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="/vendor/animsition/js/animsition.min.js"></script>
		<script type="text/javascript" src="/vendor/bootstrap/js/popper.js"></script>
		<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/vendor/select2/select2.min.js"></script>
		<script type="text/javascript" src="/vendor/slick/slick.min.js"></script>
		<script type="text/javascript" src="/js/slick-custom.js"></script>
		<script type="text/javascript" src="/vendor/countdowntime/countdowntime.js"></script>
		<script type="text/javascript" src="/vendor/lightbox2/js/lightbox.min.js"></script>
		<script type="text/javascript" src="/vendor/sweetalert/sweetalert.min.js"></script>
		<script src="/js/main.js"></script>
		<script type="text/javascript">
			$('#lnkLogout').on('click', function() {
				$('#frmLogout').submit();
			});
		</script>
		{{{_sections.js}}}
	</body>
</html>