
{{#section 'js'}}
	<script type="text/javascript">
		$('.minnusPro').on('click', function() {
			var quantity = +frmdetail.quantity.value;
			if(quantity > 1) {
				quantity--;
			}
			frmdetail.quantity.value = quantity;
		});

		$('.plusPro').on('click', function() {
			var quantity = +frmdetail.quantity.value;
			frmdetail.quantity.value = quantity + 1;
		});

		$('#addPro').on('click', function() {
			if(+frmdetail.amount.value < +frmdetail.quantity.value) {
				alert('Lượng sản phẩm sẵn có không đủ');
				return false;
			}
			if(+frmdetail.quantity.value === 0) {
				alert('Chưa nhập số lượng sản phẩm mua');
				return false;
			}
			return true;
		});
	</script>
{{/section}}


<!-- breadcrumb -->
{{#section 'title1'}}
	<section class="bgwhite">
			<div class="bread-crumb bgwhite flex-w p-l-105 p-r-15 p-t-30 p-l-15-sm">
				<a href="/" class="s-text16">
					Home
					<i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
				</a>
				<a href="/shop" class="s-text16">
					Shop
					<i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
				</a>
				{{#with product}}
				<span class="s-text17 bold-text">{{ProName}}</span>
				{{/with}}
			</div>
		</section>
{{/section}}


<!-- Product Detail -->
{{#section 'title2'}}
	<section class="bgwhite p-t-10 p-b-80">
		<div class="container">
			{{#with product}}
			<div class="flex-w flex-sb">
				<div class="w-size13 p-t-30 respon5">
					<div class="wrap-slick3 flex-sb flex-w">
						<div class="border-for-product">
							<div class="wrap-pic-w img-product-detail">
								<img src="/images/sp/{{ProID}}/main_thumb.jpg" alt="{{ProName}}" title="{{ProName}}">
							</div>
						</div>
					</div>
				</div>
				<div class="w-size14 p-t-30 respon5">
					<h4 class="product-detail-name m-text16 p-b-13">
						{{ProName}}
					</h4>
					<div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
						<h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
						Description
						<i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
						<i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
						</h5>
						<div class="dropdown-content dis-none p-t-15 p-b-23">
							<p class="s-text8">
								{{Description}}
							</p>
						</div>
					</div>
					<div class="cost-product">${{ProPrice}}</div>
					<div class="content-amount-buy">
						<div class="txt-amount-buy">Amount sales: </div> 
						<div class="number-buy">{{ProAmount}}</div>
					</div>
					<div class="content-amout-seen">
						<div class="txt-amount-seen">Seen: </div> 
						<div class="number-seen">{{AmountSeen}}</div>
					</div>
					<div class="content-origin">
						<div class="txt-origin">Origin:</div>
						<div class="info-origin">Made in {{Origin}}</div>
					</div>
					<div class="content-type">
						<div class="txt-type">Type:</div>
						<div class="info-type">{{CatName}}</div>
					</div>
					<div class="content-producer">
						<div class="txt-content-producer">Producer:</div>
						<div class="info-producer">{{ProducerName}}</div>
					</div>
					{{/with}}
					{{#if layoutVM.isLogged}}
					<form class="form-horizontal" id="frmAddItem" method="post" action="/cart/add" name="frmdetail">
					<div class="row">
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<div class="txt-number-want-buy">Amount:</div>
							<div class="minnus-product">
								<a class="btn btn-success btn-xs minnusPro" href="javascript:;" role="button">
								<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
								</a>
							</div>
							<div class="amount-product-buy">
								<input name="proId" type="hidden" value="{{product.ProID}}">
								<input class="btn btn-default" type="text" name="quantity" value="1">
								<input name="amount" type="hidden" value="{{product.ProAmount}}">
							</div>
							<div class="plus-product">
								<a class="btn btn-success btn-xs plusPro" href="javascript:;" role="button">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								</a>
							</div>
						</div>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 btn-add-to-cart">
							<button class="btn btn-danger" type="submit" id="addPro">
								<span class="fa fa-shopping-cart icon-add-cart"></span>&nbsp;&nbsp;&nbsp;ADD TO CART
							</button>
						</div>
					</div>
					</form>
					{{/if}}
				</div>
			</div>
		</div>
	</section>
{{/section}}

<!-- Relate Product -->
{{#section 'title3'}}
	<section class="relateproduct bgwhite p-t-45 p-b-50">
			<div class="container">
				<div class="sec-title p-b-60">
					<h3 class="m-text5 t-center">
					Related Products
					</h3>
				</div>
				<div class="row">
					{{#each catProducts}}
					<div class="col-sm-12 col-md-6 col-lg-3 p-b-50">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
								<img src="/images/sp/{{ProID}}/main_thumb.jpg" alt="{{ProName}}" title="{{ProName}}">
								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>
									<form action="/cart/add" method="POST" name="frmproduct">
										<input type="text" class="hidden" name="quantity" value="1">
											<input type="text" class="hidden" name="proId" value="{{ProID}}">
										{{!-- {{#if layoutVM.isLogged}} --}}
										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" type="submit">
												Add to Cart
											</button>
										</div>
										{{!-- {{/if}} --}}
										</form>
									{{!-- <div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
										Add to Cart
										</button>
									</div> --}}
								</div>
							</div>
						</div>
						<div class="block2-txt p-t-20">
							<a href="/shop/productId/{{ProID}}/{{CatID}}/{{ProducerID}}" class="block2-name dis-block s-text3 p-b-5">
								{{ProName}}
							</a>
							<span class="block2-price m-text6 p-r-5">
								${{ProPrice}}
							</span>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</section>
{{/section}}

<!-- Same producer -->
{{#section 'title4'}}
	<section class="relateproduct bgwhite p-t-30 p-b-100">
			<div class="container">
				<div class="sec-title p-b-60">
					<h3 class="m-text5 t-center">
					Same producer
					</h3>
				</div>
				<div class="row">
					{{#each proProducts}}
					<div class="col-sm-12 col-md-6 col-lg-3 p-b-50">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
								<img src="/images/sp/{{ProID}}/main_thumb.jpg" alt="{{ProName}}" title="{{ProName}}">
								<div class="block2-overlay trans-0-4">
									<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
										<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
										<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
									</a>
									<form action="/cart/add" method="POST" name="frmproduct">
										<input type="text" class="hidden" name="quantity" value="1">
											<input type="text" class="hidden" name="proId" value="{{ProID}}">
										{{!-- {{#if layoutVM.isLogged}} --}}
										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" type="submit">
												Add to Cart
											</button>
										</div>
										{{!-- {{/if}} --}}
										</form>
									{{!-- <div class="block2-btn-addcart w-size1 trans-0-4">
										<!-- Button -->
										<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
										Add to Cart
										</button>
									</div> --}}
								</div>
							</div>
						</div>
						<div class="block2-txt p-t-20">
							<a href="/shop/productId/{{ProID}}/{{CatID}}/{{ProducerID}}" class="block2-name dis-block s-text3 p-b-5">
								{{ProName}}
							</a>
							<span class="block2-price m-text6 p-r-5">
								${{ProPrice}}
							</span>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</section>
{{/section}}