
<!-- Title Page -->
{{#section 'title1'}}
	<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url(../../images/banner/shop_banner.jpg);">
		<h2 class="l-text2 t-center">
			Wine
		</h2>
		<p class="m-text13 t-center">
			New Arrivals Wine Collection 2018
		</p>
	</section>
{{/section}}

<!-- breadcrumb -->
{{#section 'title2'}}
	<section class="bgwhite">
			<div class="bread-crumb bgwhite flex-w p-l-90 p-r-15 p-t-30 p-l-15-sm">
				<a href="/" class="s-text16">
					Home
					<i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
				</a>
				<span class="s-text17 bold-text">
					Shop
				</span>
			</div>
		</section>
{{/section}}

<!-- Content page -->
{{#section 'title3'}}
	<section class="bgwhite p-t-55 p-b-65">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
					<div class="leftbar p-r-20 p-r-0-sm">
						<h4 class="m-text14 p-b-7">
							Categories
						</h4>
						<ul class="p-b-54">
							<li class="p-t-4">
								<a href="/shop" class="s-text13 active1">
									All
								</a>
							</li>
							{{#each categories}}
							<li class="p-t-4">
								<a href="/shop/byCat/{{CatID}}" class="s-text13">
									{{CatName}}
								</a>
							</li>
							{{/each}}
						</ul>
						<h4 class="m-text14 p-b-7">
							Producer
						</h4>
						<ul class="p-b-54">
							<li class="p-t-4">
								<a href="/shop" class="s-text13 active1">
									All
								</a>
							</li>
							{{#each producers}}
							<li class="p-t-4">
								<a href="/shop/byProducer/{{ProducerID}}" class="s-text13">
									{{ProducerName}}
								</a>
							</li>
							{{/each}}
						</ul>
					</div>
				</div>

				<div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
					<!--  -->
					<div class="flex-sb-m flex-w p-b-35">
						<div class="row width-search">
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 padding-left-input">
								<input type="text" class="form-control" placeholder="Name Wine">
							</div>
							<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 padding-left-input">
								<select class="form-control height-select">
									{{#each categories}}
									<option value="">{{CatName}}</option>
									{{/each}}
								</select>
							</div>
							<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 padding-left-input">
								<select class="form-control height-select">
									{{#each producers}}
									<option value="">{{ProducerName}}</option>
									{{/each}}
								</select>
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<div class="slidecontainer">
									<input type="range" min="1" max="300" value="150" class="slider" id="myRange">
									<p>Cost: $<span id="demo"></span></p>
								</div>
							</div>
							<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 padding-right-input">
								<button type="button" class="btn btn-success" aria-label="Left Align">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
								</button>
							</div>
						</div>
					</div>

					<!-- Product -->
					<div class="row">
						{{#each products}}
						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
							<div class="block2">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
									<img src="/images/sp/{{ProID}}/main_thumb.jpg" alt="{{ProName}}" title="{{ProName}}">
									
									<div class="block2-overlay trans-0-4">
										<a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
											<i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
											<i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
										</a>
										<form action="/cart/add" method="POST" name="frmproduct">
											<input type="text" class="hidden" name="quantity" value="1">
											<input type="text" class="hidden" name="proId" value="{{ProID}}">
										{{!-- {{#if layoutVM.isLogged}} --}}
										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" type="submit">
												Add to Cart
											</button>
										</div>
										{{!-- {{/if}} --}}
										</form>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a href="/shop/productId/{{ProID}}/{{CatID}}/{{ProducerID}}" class="block2-name dis-block s-text3 p-b-5">
										{{ProName}}
									</a>

									<span class="block2-price m-text6 p-r-5">
										${{ProPrice}}
									</span>
								</div>
							</div>
						</div>
						{{/each}}
					</div>

					<!-- Pagination -->
					<div class="flex-m flex-w p-t-26">
						<ul class="pagination">
							<li class="disabled">
								<a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>
							</li>
							{{#each page_numbers}}
							{{#if isCurPage}}
							<li class="active"><a href="javascript:;">{{value}}</a></li>
							{{else}}
							<li><a href="?page={{value}}">{{value}}</a></li>
							{{/if}}
							{{/each}}
							<li>
								<a href="#" aria-label="Next"><span aria-hidden="true">»</span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
{{/section}}